@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;

}

h2 {
  color: black;
  font-family: "Courier New", Monospace;
}

body {
  background-color: #330c53;
}

.head {
  margin: auto;
  max-width: 35%;
  border: 3px solid white;
  border-radius: 25px;
  background-color: #330c53;
}

.upload-box {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  background: white;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  width: 265px;
  outline: none;
}

::-webkit-file-upload-button{
  color: #330c53;
  background: #09b794;
  font-family: Montserrat, sans-serif;
  padding: 10px;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 1px 10px black;
  outline: none;
}


.btn {
  position: relative;
  cursor: pointer;
  border: 2px solid white;
  color: #330c53;
  background-color: #09b794;
  padding: 8px 16px;
  border-radius: 150px;
  box-shadow: 5px 5px 10px black;
}

.btn:active {
  background: #007163;
  cursor: wait;
}

.loading_text {
  visibility: hidden;
}


.btn_text {
  font-size: 16px;
  transition: all 0.1s;
  font-family: Montserrat, sans-serif;
  position: relative;
}

.btn_loading .btn_text {
  visibility: hidden;
  cursor: wait;
}

.btn_loading::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1px;
  border: 4px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  cursor: wait;
  animation: btn_loading 1s ease-in-out infinite;
}

@keyframes btn_loading {
  from {
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}

.loader {
  pointer-events: none;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid white;
}