<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', path='/download.css') }}">
    <title>
      OSG - Video Transcription Tool
    </title>
  </head>
  <meta charset="utf-8">
  <body>
    <div class="logo" align="center">
      <br/><br/><br/><br/><br/>
      <img src="/static/osg_logo.jpg" height="100">
    </div>
    <br/><br/><br/><br/>
    <div class="head" align ="center"><br/>
      <h1>Video Transcription Tool</h1>
      <p>
        <a href="download" download class="download-btn">Download Transcribed Documents</a>
        <br>
        <a href="logs" class="logs-btn">Logs</a>
      </p>
    </div>
  </body>
</html>