<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}">
    <title>
      OSG - Video Transcription Tool
    </title>
  </head>
  <meta charset="utf-8">
  <body>
    <div class="logo" align="center">
      <br/><br/><br/><br/><br/>
      <img src="static/osg_logo.jpg" height="100">

    </div>
    <br/><br/><br/><br/>
    <div class="head" align ="center"><br/>
      <h1>Video Transcription Tool</h1>
      <h2>
        <form enctype="multipart/form-data" method="post" align="center">
          <input name="files" class="upload-box" type="file" multiple>
          <button type=submit class="btn" >
            <span class="btn_text">Transcribe</span>
          </button>
      </h2>
      <br/>
    </div>
  </body>
</html>